

#header {
    background-color: #B1003A;
}

#header.scrolled {
    background-color: #2D0A41;
}

#footer {
    background-color: #B1003A;
}

//l

#footer a {
    color: #00BBA4;
    //color: #2D0A41;
}

#footer > .totop > span {
    background-color: #B1003A;
}