

#header {
    background-color: #B1003A;
}

#footer {
    background-color: #B1003A;
}

#footer a {
    //color: #00BBA4;
    color: #2D0A41;
}

#footer > .totop > span {
    background-color: #B1003A;
}