
#header.scrolled {
    background-color: #2D0A41 !important;
}

#header {
    background-color: #B1003A;
}

#header > #navbar a {
    color: #00BBA4 !important;
}

#header.scrolled > #navbar a {
    color: #00BBA4 !important;
}

#footer {
    background-color: #B1003A;
}

//l

#footer a {
    color: #00BBA4;
    //color: #2D0A41;
}

#footer > .totop > span {
    background-color: #B1003A;
}

.navigation ul {
    border: 8px solid green !important;
}

/*
.navigation a:hover {
    border: 10px solid #ffff00 !important;
}
*/

.navigation a::after {
    border: 1px solid green !important;
}

.navigation a::before {
    border: 40px solid yellow !important;
}